[".pre-commit-config.yaml"]
minimum_pre_commit_version = "4.3.0"
default_install_hook_types = ["pre-commit", "pre-push", "commit-msg"]

[[".pre-commit-config.yaml".repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"

[[".pre-commit-config.yaml".repos.hooks]]
id = "end-of-file-fixer"

[[".pre-commit-config.yaml".repos.hooks]]
id = "trailing-whitespace"
args = ["--markdown-linebreak-ext=md,markdown"]

[[".pre-commit-config.yaml".repos]]
repo = "https://github.com/andreoliwa/nitpick"

[[".pre-commit-config.yaml".repos.hooks]]
id = "nitpick"

[[".pre-commit-config.yaml".repos]]
repo = "https://github.com/codespell-project/codespell"

[[".pre-commit-config.yaml".repos.hooks]]
additional_dependencies = ["tomli ; python_version < '3.11'"]
id = "codespell"

[[".pre-commit-config.yaml".repos]]
repo = "https://github.com/macisamuele/language-formatters-pre-commit-hooks"
hooks = [
    { id = "pretty-format-toml", args = [
        "--autofix",
        "--no-sort",
        "--trailing-commas",
        "--indent",
        '4',
        "--inline-comment-spaces",
        '1',
    ] },
]
